<div class="container mt-5">
  <div class="row">
    <div class="col-md-9">
      <app-seleccionar-cliente
        [nombre]="clienteSelecionado.nombre"
        (seleccionoCliente)="asignarCliente($event)"
        (canceloCliente)="eliminoCliente()"
      ></app-seleccionar-cliente>

      <div class="form-group">
        <label for="">Precio</label>
        <select
          (change)="seleccionarPrecio($event.target.value)"
          class="form-control"
          name=""
          id=""
          [(ngModel)]="idPrecio"
        >
          <option [value]="null">Seleccione un precio</option>
          <option *ngFor="let precio of precios" [value]="precio.id">{{
            precio.nombre
          }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Fecha Inicio</label>
        <input
          type="text"
          [value]="inscripcion.fecha | date"
          class="form-control"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="">Fecha Finaliza</label>
        <input
          type="text"
          [value]="inscripcion.fechaFinal | date"
          class="form-control"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="">Sub Total</label>
        <input
          type="number"
          [value]="inscripcion.subTotal"
          class="form-control"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="">ISV</label>
        <input
          type="number"
          [value]="inscripcion.isv"
          class="form-control"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="">Total</label>
        <input
          type="number"
          [value]="inscripcion.total"
          class="form-control"
          disabled
        />
      </div>
      <br />

      <button class="btn btn-primary" (click)="guardar()">Guardar</button>
    </div>
    <div class="col-md-3">
      <div *ngIf="clienteSelecionado.ImgUrl" class="text-center clienteImg">
        <img [src]="clienteSelecionado.ImgUrl" alt="" />
      </div>
    </div>
  </div>
</div>
