<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <ul>
        <li *ngFor="let precio of precios">
          <a (click)="editarPrecio(precio)">
            {{ precio.nombre }}
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <h4>Agregar/Editar</h4>
      <form [formGroup]="formPrecio">
        <div class="form-grou">
          <label for="">Nombre</label>
          <input
            type="text"
            formControlName="nombre"
            class="form-control"
            placeholder="Nombre"
          />
        </div>
        <div class="form-grou">
          <label for="">Costo</label>
          <input
            type="number"
            formControlName="costo"
            class="form-control"
            placeholder="Costo"
          />
        </div>
        <div class="form-grou">
          <label for="">Duración</label>
          <input
            type="number"
            formControlName="duracion"
            class="form-control"
            placeholder="Duración"
          />
        </div>
        <div class="form-grou">
          <label for="">Tipo Duración</label>
          <select
            formControlName="tipoDuracion"
            class="form-control"
            id="selectDuracion"
          >
            <option value="1">Dia</option>
            <option value="2">Semana</option>
            <option value="3">Quincena</option>
            <option value="4">Mes</option>
            <option value="5">Año</option>
          </select>
        </div>
        <button
          *ngIf="!esEditable"
          type="button"
          class="btn btn-primary"
          (click)="agregarPrecio()"
        >
          Agregar
        </button>
        <button
          *ngIf="esEditable"
          class="btn btn-danger"
          (click)="updatePrecio()"
        >
          Editar
        </button>
      </form>
    </div>
  </div>
</div>
